<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Complete Movie List</title>
<link rel="stylesheet" href="/css/version-1/display-movies.css"></link>
<meta name="viewport" content="width=device-width,initial-scale=1">


<body>

<form method = 'POST' action ='/filter-movie'>
<p>Filter by Genre Here</p>
<button type='submit' name='genre' value='Action'>Action</button>
<button type='submit' name='genre' value='Comedy'>Comedy</button>
<button type='submit' name='genre' value='Romance'>Romance</button>
<button type='submit' name='genre' value='Horror'>Horror</button>
<button type='submit' name='genre' value='Drama'>Drama</button>
</form>
<a href='/add-movie'>Click here to add another movie</a>
{{#allMovies}}
<form method = 'POST' action = "/delete-movie">
<h1>{{title}} </h1> 
<h4>{{genre}} </h4>
<img src ='{{URL}}' style="max-width: 30rem" />
<input type="hidden" name="movieID" value="{{movieID}}" />
<button>Delete Movie</button>
</form>
{{/allMovies}}


</body>
</html>