.image {
  width: 200px;
  border: 2px black;
}
.image1 {
  width: 400px;
  border: 2px black;
}

body {
  background-color: red;
}

div {
  font-size: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.year {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  display: flex;
}
