<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Add Trip Here</title>
<meta name="viewport" content="width=device-width,initial-scale=1">



<body>

<h1>Enter Trip Info Here</h1>

<form method = 'POST' action ="/post-log">
<input type = "text" placeholder = "Statistical Data" name = "stats" />
<input type = "text" placeholder = "Additional Information" name = "additional" />

    <button>Add Data</button>
    </form>


</body>
</html>