<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action ='/search' method ='POST'>
<input type ='text' name='searchbox'>
<button>search</button>
</form>
<form action='filter' method='post'>
<button name=filterbutton>Filter by Category</button>
<select name="category" id="category">
    <option value="python">python</option>
    <option value="javascript">javascript</option>
    <option value="ios">ios</option>
    <option value="android">android</option>
    </select>
    </form>
<form action ='/filterDate' method="post">
<button>Filter by Date</button>
<select name="filterDate">
<option value='recent'>Recently Created</option>
<option value='oldest'>Oldest Created</option>
</select>
</form>
<form action ='index'>
    <button>viewall</button>
    </form>
<form action ='chat'>
<button id='chatButton'>Click here to join the chatroom</button>
</form>
<h1>posts</h1>
<form method = "POST" action = "/add-blog">
    <input type = "text" placeholder = "title" name = "title" />
    <input type = "text" placeholder = "body" name = "body" />
    <select name="category" id="categories">
    <option value="python">python</option>
    <option value="javascript">javascript</option>
    <option value="ios">ios</option>
    <option value="android">android</option>
    </select>
    <button>Add Blog</button>
</form>
    <ul>
        {{#posts}}
        <li>
            <form method = "POST" action = "/delete-post">
                <b>{{title}}</b> - {{created_at}}
                <li>{{body}}</li>
                <li>{{category}}</li>
                <input type = "hidden" name = "id" value = {{id}} />
                <button>Delete</button>
            </form>
            <form action='/post-details' method="post">
                <input type = "hidden" name = "id" value = {{id}} />
                <button>view details</button>
            </form>
            <form action='/add-comment' method='post'>
                <input type = 'text' placeholder= 'Comment Title' name = 'commentTitle'>
                <input type = 'text' placeholder= 'Write Comment' name = 'commentBody'>
                <input type="hidden" name="post_id" value={{id}}>
                <button>submit</button>
            </form>
            

            Comments:
            
            {{#comments}}
            <form method = 'post' action = '/delete-comment'>
            <div>
            <h3>{{title}}</h3>
            </div>
            <p>
            {{body}}
            </p>
            <input type="hidden" name="commentId" value={{id}}>
            <button>Delete Comment</button>
            </form>
            {{/comments}}
            
            <div>------------------------------------------------------------------</div>
        </li>
        {{/posts}}
    </ul>
</body>
</html>