<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Trip List</title>
<meta name="viewport" content="width=device-width,initial-scale=1">



<body>

<h1>Enter Trip Info Here</h1>

<form method = 'POST' action ="/add-trip">
<input type = "text" placeholder = "Trip Location" name = "tripName" />
<input type = "text" placeholder = "Trip Date" name = "tripDate" />
<input type = "text" placeholder = "Trip URL" name = "tripImage" />
    <button>Add Trip</button>
    </form>


</body>
</html>