<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Add Trip Here</title>
<meta name="viewport" content="width=device-width,initial-scale=1">



<body>

<h1>Enter Trip Info Here</h1>

<form method = 'POST' action ="/add-trip">
<input type = "text" placeholder = "Trip Location" name = "tripLocation" />
<input type = "text" placeholder = "Trip URL" name = "tripImage" />
<input type = "text" placeholder = "Trip Departure Date" name = "tripDeparture" />
<input type = "text" placeholder = "Trip Return Date" name = "tripReturn" />
    <button>Add Trip</button>
    </form>


</body>
</html>