<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Customer</title>
<meta name="viewport" content="width=device-width,initial-scale=1">



<body>

<h1>Add Customer</h1>

<form method = 'POST' action ="/add-customer">
<input type = "text" placeholder = "Customer Name" name = "customerName" />
    <input type = "text" placeholder = "Customer Age" name = "customerAge" />
    <button>Add Customer</button>
    </form>


</body>
</html>
